body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading_container{
  width: 100%;
  height: 100vh;
  background: rgb(53, 126, 221);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.err_wrapper{
  margin: 10px;
  padding: 20px;
  background: #f12711;
  color: #fff;
  border: 1px solid #f12711;
}
.err_wrapper h2{
  padding: 10px;
  background: transparent;
}
.err_wrapper p{
  background: #fff;
  color: #f12711;
  padding: 20px;
}
.err_wrapper button{
  background: #f5af19;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  padding: 15px;
}

.App{
  width: 1000px;
  padding:2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 10px 30px #eee;
}



.search__container {
  width: 100%;
}


.search {
  width: 95%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

  .input__list{
    list-style: none;
    transition: all 500ms ease-in-out;
  }

 .input__list li{
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    background: #fff;
    margin-bottom: 2px;
  }
  .input__list:before{
    content: 'Options';
    font-size:16px;
    font-weight: bolder;

  }
  li:hover{
    color: #0575e6;
    background: #fff;
  }
  .input__list li:last-child{
    cursor:none;
    border-radius:none;
    padding: 5px;
    background: none;
    margin-bottom: 0px;
    border: none;
    color: gray;
  }
  .input__list li:hover:last-child{
    color:gray;
    
  }



.bar {
  background: rgba(255, 255, 255, 0.5);
  content: '';
  width: 550px;
  height: 3.6666666667px;
  transition: .3s ease;
  position: relative;
}
.bar:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 150%;
  background: #2196f3;
  transform: translateX(-100%);
}

::selection {
  background: rgba(33, 150, 243, 0.3);
}


.hero_container {
  position: relative;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  z-index: 1;
}
.hero_container:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}
.hero_container img{
  width: 100%;
  height: 100%;
 
  
}
.text-block{
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  color: white !important;
  
  margin: 0;
  position: absolute;
  top: 0; 
  left: 0;
  

  display: flex;
  flex-direction: column;
}
.text-block .banner{
  width: 100%;
  text-align: center;
} 
.banner p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: 900;
  text-shadow:
    1px 1px 0 #000;
}
.text-block .main{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__icon{
  padding-left:30px;

}
.main__icon i{
  font-size:150px;
  text-shadow:
    1px 1px 0 #000;
}
.main__icon p{
  font-family:Open 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  padding-left: 30px;
  font-size: 30px;
  color:#fff;
  font-weight: 700;
  text-shadow:
    1px 1px 0 #000;
}
.temp{
  text-align: right;
  padding-right:30px;
  text-shadow:
    1px 1px 0 #000;
}
.temp .temp_val{
  font-size:110px;
  margin:0 auto;
  text-shadow:
    1px 1px 0 #000;
}
.temp_val span{
  font-size: 50px;
  
}

.forcast__wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: no-wrap;

}

.weather_card{
  cursor: pointer;
  height: 280px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg,#6c7ee3,#92d3e1);
  color: #fff;
  font-weight: 700;
  box-shadow:10px 15px 25px #aaa;
  border-right: 1px solid #fff;
  transition: all 300ms ease-in;
  z-index: 1;
 }

 .weather_card:hover{
   transform: scale(1.01);
 }

.icon__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon__wrapper i{
  font-size: 80px;
  padding: 5px;
  margin-bottom: 5px;
}
.icon__wrapper p{
  height: 25px;;
  text-align: center;
  font-weight: 700;
  margin-top: 0px;
}
.hi__low{
  margin:5px 0;
}
.hi__low i{
  margin-right: 5px;
  margin-left: 5px;
}

.text-centr{
  text-align: center;
}